body
{
background: #383936;
}

header .row, footer .row {
    display: flex;
    align-items: center;
}

header img {
    width: auto;
    height: auto;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header p {
    padding: 0 20px;
    margin: 0;
}

.container { width: 90%; margin: 0 auto 0 auto; }

.jumbotron {
}

.fixed-ratio-size {
    max-width: 100%;
    height: auto;
    width: auto;
}

.navbar-brand {

}
